/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') no-repeat center top #003a68;
}


body{
	font:14px/1.3 '微软雅黑', 'Arial', sans-serif; 
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


h1{
	font:bold 32px Cambria, "微软雅黑",serif;
	margin-bottom:50px;
	color:#ffffff;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
}

logo{
	font:bold 32px Cambria, "微软雅黑",serif;
	margin-bottom:50px;
	color:#ffffff;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	background:url('../img/logo.png') no-repeat center top #1d4c86;
	height:120px;
}
/*----------------------------
	The Form
-----------------------------*/


#main1{
	width:800px;
	margin:80px auto 0px;
	position:relative;
	text-align:center;
}
#main2{
	font:  12px Cambria, "微软雅黑",serif;
	width:800px;
	margin:-100px auto -10px;
	position:relative;
	text-align:center;
	line-height:20px;
	
	color:#999999;
}
#main{
	width:600px;
	margin:20px auto 20px;
	position:relative;
	text-align:center;
}

#main form{
	width:600px;
	height:450px;
	background:url('../img/form_bg.png') no-repeat;
	padding-top: 50px;
	text-align:center;
}

#main form .row{
	position:relative;
}

#main form .row.error:after,
#main form .row.success:after{
	content:'';
	
	position:absolute;
	right: 60px;
    top: 8px;
	width:32px;
	height:32px;
	background:url('../img/icons.png') no-repeat;
}

#main form .row.error:after{
	background-position: 0 -39px;
}

#main form input[type=text],
#main form input[type=password]{

	border:none;
	background:url('../img/text-boxes.png') no-repeat top left;
	font:14px '宋体','Arial',sans-serif;
	color:#888;
	
	outline:none;
	
    height: 48px;
    margin: 0 auto 22px;
    padding: 0 10px 0 50px;
    width: 278px;
	
	height: 33px\9;
    margin: auto auto 22px\9;
    padding: 15px 10px 0 50px\9;
}

#main form input[disabled]{
	opacity: 0.5;
}

#main form .email input{
	background-position:0 0;
}

#main form .email input:focus{
	background-position:0 -48px;
}

#main form .pass input{
	background-position:0 -96px;
}

#main form .pass input:focus{
	background-position:0 -144px;
}


/*----------------------------
	The Submit Button
-----------------------------*/

#main form input[type=submit]{
	
	border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font: bold 16px Cambria,"微软雅黑",serif;
    margin: 10px auto 0;
    padding: 6px;
    text-shadow: 0 -1px 0 #000000;
    width: 150px;
    
	background-color:#44b5ed;
	
	background-image: linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -o-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -moz-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -webkit-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -ms-linear-gradient(top, #0496DA 0%, #0067CD 100%);
}

#main form input[type=sumit]:hover{
	
	background-color:#95cd48;
	
	background-image: linear-gradient(top, #217dd2 0%, #004c9b 100%);
	background-image: -o-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -moz-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -webkit-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -ms-linear-gradient(top, #0383d3 0%, #004c9b 100%);
}

#main form input[type=submit]:active{
	
	background-color:#026fcb;
	
	background-image: linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -o-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -moz-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -webkit-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -ms-linear-gradient(top, #026fcb 0%, #004c9b 100%);
}



/*----------------------------
	The Arrow
-----------------------------*/


#main form .arrow{
    background: url("../img/arrow.png") no-repeat -10px 0;
    height: 120px;
    left: 214px;
    position: absolute;
    top: 392px;
    width: 11px;
    
   	/* Defining a smooth CSS3 animation for turning the arrow */
    
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
    transition:0.3s;
    
    /* Putting the arrow in its initial position */
    
	-moz-transform: rotate(-134deg);
	-webkit-transform: rotate(-134deg);
	-o-transform: rotate(-134deg);
	-ms-transform: rotate(-134deg);
	transform: rotate(-134deg);
}

#main form .arrowCap{
	background: url("../img/arrow.png") no-repeat -43px 0;
	height: 20px;
	left: 208px;
	position: absolute;
	top: 443px;
	width: 20px;
	z-index: 10;
}

#main form .meterText{
	color: #575757;
	font-size: 10px;
	left: 189px;
	line-height: 1.1;
	position: absolute;
	top: 485px;
	width: 60px;
}

#main form .line{
 	 height:19px;
 }
#main form .line2{
 	 height:29px;
 }

/*----------------------------
	The Footer
-----------------------------*/


#footer{
	font:12px/1.3 '宋体',Arial, sans-serif; 
	color: #000000;
	bottom: 20px;
	height: 45px;
	left: 0;
	position: fixed;
	width: 400px;
}

#footer h2{
	color: #999999;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

#footer h2 i{
	font-style:normal;
	color:#666666;
}

#footer a.tzine,a.tzine:visited{
	color: #666666;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

#footer a i{
	color:#666666;
	font-style: normal;
}

#footer a i b{
	color:#666666;
	font-weight: normal;
}
